<ion-header [translucent]="true">
  <ion-toolbar style="--background: #77f0e0">
    <ion-title>Perfil Pessoal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div style="text-align: end;">
      <ion-button routerLink="/tela-inicial">Página inicial</ion-button>
    </div><br><br>
    
    <img src="../../assets/icon/R.png" alt="" srcset="">

    <div>
      <h2><strong>Nome:</strong> {{ dadosFormulario?.nome }}</h2>
      <h3><strong>Semestre:</strong> {{ dadosFormulario?.semestre }}</h3>
      <h4><strong>Matérias Selecionadas:</strong></h4>
      <ul>
        <li *ngFor="let materia of dadosFormulario?.materiasSelecionadas">{{ materia }}</li>
      </ul>
    </div>


    
  </div>
</ion-content>