

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar style="--background: #77f0e0">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>Home</ion-item>
    <ion-item routerLink="/disciplinas">Matérias</ion-item>
    <ion-item routerLink="/cadastro-disciplinas">Cadastrar</ion-item>
    <ion-item routerLink="/perfil">Perfil</ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar style="--background: #77f0e0">
      <ion-title>Cadastro Escola</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
    <h2>Bem vindo ao seu ambiente virtual</h2>
    <p>Sinta-se à vontade para gerenciar e organizar a sua vida acadêmica.</p><br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Aqui você pode:</ion-card-title>
        <ion-card-subtitle>Realizar sua matrícula</ion-card-subtitle>
        <ion-card-subtitle>Cancelar sua matrícula</ion-card-subtitle>
        <ion-card-subtitle>Consultar suas matérias</ion-card-subtitle>
        <ion-card-subtitle>E muito mais...</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card><br>
    <ion-card>
      <img alt="Silhouette of mountains" src="../../assets/icon/ifsc.jpg" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

  </ion-content>
</div>
