

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>Home</ion-item>
    <ion-item>Matérias</ion-item>
    <ion-item>Cadastrar</ion-item>
    <ion-item>Perfil</ion-item>
  </ion-content>
  <!--ion-content class="ion-padding">Matérias</ion-content>
  <ion-content class="ion-padding">Cadastrar</ion-content>
  <ion-content class="ion-padding">Contatos</ion-content-->
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Cadastro Escola</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
    <h2>Bem vindo ao app Facul</h2>
    <p>Sinta-se à vontade e cadastre as matérias que desejar.</p>

  </ion-content>
</div>
